{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository packages">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/hastur_page_heading" (dict "section" "WORKSPACE" "title" (ctx.Locale.Tr "packages.title") "icon" "octicon-package")}}
	{{template "package/shared/list" .}}
	</div>
</div>
{{template "base/footer" .}}
