{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content hastur-auth user signin{{if .LinkAccountMode}} icon{{end}}">
	{{if StringUtils.HasPrefix ctx.CurrentWebTheme.InternalName "hastur-"}}{{template "user/auth/hastur_identity" .}}{{end}}
	<div class="ui container">
		{{template "user/auth/change_passwd_inner" .}}
	</div>
</div>
{{template "base/footer" .}}
