<aside class="hastur-auth-identity">
	<span class="hastur-eyebrow">HASTUR / DEVELOPMENT</span>
	<h1>{{AppName}}</h1>
	<div class="hastur-workflow" aria-hidden="true">
		<div class="hastur-workflow-line"></div>
		<span class="hastur-workflow-node">{{svg "octicon-issue-opened" 26}}</span>
		<span class="hastur-workflow-node">{{svg "octicon-git-pull-request" 26}}</span>
		<span class="hastur-workflow-node">{{svg "octicon-code" 26}}</span>
		<span class="hastur-workflow-node">{{svg "octicon-check" 26}}</span>
	</div>
	<div class="hastur-workflow-labels"><span>{{ctx.Locale.Tr "issues"}}</span><span>{{ctx.Locale.Tr "pull_requests"}}</span><span>{{ctx.Locale.Tr "repo.code"}}</span><span>{{ctx.Locale.Tr "actions.actions"}}</span></div>
</aside>
