:root {
  --color-primary: #dfc486;
  --color-primary-contrast: #19170f;
  --color-primary-hover: #ead6aa;
  --color-primary-active: #cdb074;
  --color-body: #151614;
  --color-nav-bg: #10110f;
  --color-nav-hover-bg: #292a24;
  --color-secondary-nav-bg: #151614;
  --color-box-header: #23241f;
  --color-box-body: #1c1d1a;
  --color-box-body-highlight: #292a24;
  --color-text-dark: #eeefe7;
  --color-text: #d5d7cb;
  --color-text-light: #acafa1;
  --color-text-light-1: #a4a899;
  --color-text-light-2: #96998a;
  --color-text-light-3: #898d7d;
  --color-secondary: #30312b;
  --color-secondary-dark-1: #3c3e35;
  --color-secondary-dark-2: #45483e;
  --color-secondary-dark-3: #505447;
  --color-secondary-dark-4: #606553;
  --color-secondary-light-1: #292a24;
  --color-secondary-light-2: #23241f;
  --color-secondary-light-3: #1c1d1a;
  --color-secondary-light-4: #10110f;
  --color-secondary-bg: #23241f;
  --color-input-background: #171814;
  --color-input-toggle-background: #30312b;
  --color-hover: #dfc4860c;
  --color-hover-opaque: #292a24;
  --color-active: #302c20;
  --color-menu: #1c1d1a;
  --color-card: #1c1d1a;
  --color-button: #23241f;
  --color-code-bg: #181915;
  --color-timeline: #3c3e35;
  --color-shadow: #00000040;
  --color-shadow-opaque: #10110f;
  --color-tooltip-bg: #30312b;
  --color-tooltip-text: #eeefe7;
  --color-markup-table-row: #dfc48606;
  --color-markup-code-block: #dfc48608;
  --color-markup-code-inline: #dfc48612;
  --color-diff-added-row-bg: #202b20;
  --color-diff-added-linenum-bg: #283b27;
  --color-diff-added-fg: #a6c3a0;
  --color-diff-removed-row-bg: #30221f;
  --color-diff-removed-linenum-bg: #432c26;
  --color-diff-removed-fg: #e1a395;
}
