:root {
  --color-primary: #795813;
  --color-primary-contrast: #fff9e9;
  --color-primary-hover: #67490f;
  --color-primary-active: #573d0d;
  --color-body: #f6f6f0;
  --color-nav-bg: #eceee5;
  --color-nav-hover-bg: #e6e8da;
  --color-secondary-nav-bg: #f6f6f0;
  --color-box-header: #eeeee4;
  --color-box-body: #fffef8;
  --color-box-body-highlight: #f1f2e8;
  --color-text-dark: #252b24;
  --color-text: #3c4437;
  --color-text-light: #586151;
  --color-text-light-1: #606858;
  --color-text-light-2: #636b5c;
  --color-text-light-3: #6c7564;
  --color-secondary: #d5d8c9;
  --color-secondary-dark-1: #c8cdbb;
  --color-secondary-dark-2: #b9bfac;
  --color-secondary-dark-3: #a4ad95;
  --color-secondary-dark-4: #929d81;
  --color-secondary-light-1: #e1e4d8;
  --color-secondary-light-2: #e9ecdf;
  --color-secondary-light-3: #f0f2e9;
  --color-secondary-light-4: #f6f6f0;
  --color-secondary-bg: #eeeee4;
  --color-input-background: #fffef8;
  --color-input-toggle-background: #e6e8da;
  --color-hover: #7958130a;
  --color-hover-opaque: #e6e8da;
  --color-active: #ece5d3;
  --color-menu: #fffef8;
  --color-card: #fffef8;
  --color-button: #eeeee4;
  --color-code-bg: #fffef8;
  --color-timeline: #d5d8c9;
  --color-shadow: #252b2414;
  --color-shadow-opaque: #d5d8c9;
  --color-tooltip-bg: #30372b;
  --color-tooltip-text: #fffef8;
  --color-markup-table-row: #79581306;
  --color-markup-code-block: #79581306;
  --color-markup-code-inline: #7958130c;
}
