{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard feeds">
	{{template "user/dashboard/navbar" .}}
	{{if StringUtils.HasPrefix ctx.CurrentWebTheme.InternalName "hastur-"}}
		<div class="ui container">{{template "user/dashboard/hastur_overview" .}}</div>
	{{end}}
	<div class="ui container flex-container">
		<div class="flex-container-main">
			{{template "base/alert" .}}
			{{if StringUtils.HasPrefix ctx.CurrentWebTheme.InternalName "hastur-"}}
				<h2 class="hastur-section-heading">{{svg "octicon-pulse"}} {{ctx.Locale.Tr "activities"}}</h2>
			{{else}}
				{{template "user/heatmap" .}}
			{{end}}
			{{if .Page.Paginator.TotalPages}}
				{{template "user/dashboard/feeds" .}}
			{{else}}
				{{template "user/dashboard/guide" .}}
			{{end}}
		</div>
		{{template "user/dashboard/repolist" .}}
	</div>
</div>
{{template "base/footer" .}}
